/* Mui paper root */
.App .ant-layout .ant-layout-content > .MuiPaper-root {
    margin-right: 0px;
    position: relative;
    left: -48px;
    width: 1234px;
}

/* Make styles page header 12 */
.ant-layout-content .MuiPaper-root .makeStyles-pageHeader-12 {
    position: relative;
    left: 63px;
}

.ant-layout-content .MuiPaper-root .MuiButton-outlinedPrimary {
    left: 77px;
}

/* Styles pour la section d'en-tête */
.header {
    position: relative;
    width: 100%;
    background-color: #fff; /* Ajustez selon vos besoins */
    z-index: 1000; /* Assurez-vous que l'en-tête apparaît au-dessus des autres contenus */
    /* Ajoutez d'autres propriétés de style pour l'en-tête si nécessaire */
}

/* Styles pour la section du tableau */
.table-section {
    margin-top: 70px;
    overflow-x: auto; /* Active le défilement horizontal à l'intérieur du conteneur */
     /* Active le défilement vertical si le contenu dépasse la hauteur */
    max-height: 500px; /* Hauteur maximale du conteneur de tableau pour activer le défilement vertical */
   /* width:1355px;*/
}


#root>div:nth-child(1)>section:nth-child(1)>section:nth-child(2)>main:nth-child(2)>div:nth-child(2)>div:nth-child(1)>div:nth-child(1)>div:nth-child(1)>div:nth-child(2) {
    width : 912px;
    max-width : 912px;
    }
    #root>div:nth-child(1)>section:nth-child(1)>section:nth-child(2)>main:nth-child(2)>div:nth-child(2)>div:nth-child(1)>div:nth-child(1)>button:nth-child(2) {
      
        margin-left : 73px !important;
        }
.table-container {
    width: 100%; /* Assurez-vous que le conteneur parent a une largeur suffisante */
    overflow-x: none; /* Activer le défilement horizontal si nécessaire */
}

.table {
    width: 1509px; /* Largeur fixe du tableau */
    table-layout: fixed; /* Empêcher la table de redimensionner automatiquement */
}
/* Mui paper root */
.App .table-section .MuiPaper-root{
    
    width:1543px;
   }
   
   /* Table section */
.App .table-section{
    transform:translatex(0px) translatey(0px);
   }
   
   /* Mui paper root */
   .App .table-section .MuiPaper-root{
    position:relative;
    top:-52px;
    left:-44px;
   }
   
/* Table section */
.App .table-section{
 transform:translatex(0px) translatey(0px) !important;
}

/* Mui paper root */
.App .table-section .MuiPaper-root{
 position:relative !important ;
 top:-52px !important;
 left:-44px !important;
}

.custom-header {
    background-color: #303f9f; /* Couleur de fond personnalisée pour l'en-tête du tableau */
    color: white; /* Couleur du texte de l'en-tête du tableau */
  } 
  #root > div:nth-child(1) > section:nth-child(1) > section:nth-child(2) > main:nth-child(2) > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > input:nth-child(2) {
    margin-left : -45px;
    margin-bottom : 0px;
    width : 893px;
    max-width : 893px;
    }


    #root > div:nth-child(1) > section:nth-child(1) > section:nth-child(2) > main:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) {
        color : rgb(0, 0, 0);
        }