#root > div:nth-child(1) > section:nth-child(1) > section:nth-child(2) > main:nth-child(2) > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) {
    color : rgba(0, 0, 0, 0.85);
    background-color : rgb(255, 255, 255);
    border-top-color : rgba(0, 0, 0, 0.85);
    border-right-color : rgba(0, 0, 0, 0.85);
    border-bottom-color : rgba(0, 0, 0, 0.85);
    border-left-color : rgba(0, 0, 0, 0.85);
    box-shadow : rgba(0, 0, 0, 0.05) 0px 20px 27px;
    width : 658px;
    max-width : 658px;
    height : 525px;
    max-height : 525px;
    }
    #root > div:nth-child(1) > section:nth-child(1) > section:nth-child(2) > main:nth-child(2) > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > svg:nth-child(1) {
    padding-left : 0px;
    margin-left : 139px;
    }
    #root > div:nth-child(1) > section:nth-child(1) > section:nth-child(2) > main:nth-child(2) > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > ul:nth-child(1) {
    color : rgba(0, 0, 0, 0.85);
    background-color : rgba(0, 0, 0, 0);
    border-top-color : rgba(0, 0, 0, 0.85);
    border-right-color : rgba(0, 0, 0, 0.85);
    border-bottom-color : rgba(0, 0, 0, 0.85);
    border-left-color : rgba(0, 0, 0, 0.85);
    box-shadow : rgb(0, 0, 0) 0px 0px 0px;
    padding-left : 47px;
    margin-right : -219px;
    }


    #root > div:nth-child(1) > section:nth-child(1) > section:nth-child(2) > main:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > h3:nth-child(2) > small:nth-child(1) {
        color : rgb(83, 196, 26);
        }
        #root > div:nth-child(1) > section:nth-child(1) > section:nth-child(2) > main:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(3) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > h3:nth-child(2) > small:nth-child(1) {
        color : rgb(83, 196, 26);
        border-top-color : rgb(83, 196, 26);
        border-right-color : rgb(83, 196, 26);
        border-bottom-color : rgb(83, 196, 26);
        border-left-color : rgb(83, 196, 26);
        }